body{
  align-items: center;
  margin: 0;
  background-color: rgb(42, 32, 126);  
  font-family: Arial, Helvetica, sans-serif
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  
  .column {
    flex: 1;
    padding: 10px;
  }
  @media (max-width: 600px) {
    .column {
      flex: 100%;
    }
  }
  .container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  
  .brand {
    display: flex;
    align-items: center;
  }
  
  
  li>a {
    padding: 8px 24px;
  }
  
  
  li {
    list-style-type: none;
  }
  
  
  a {
    color: white;
    text-decoration:none;
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  
  .button-menu-toggle {
    display: none;
  }
  @media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
  
    .nav-links {
      display: none;
    }
  
  
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
  
  
    }
  }
.img-conteiner {
  display: flex;
  flex-wrap: wrap;
justify-content: center;
}
.videoconteiner{

display:flex;
flex-direction: column;
align-items: center;
gap: 5px;
padding: 50px;
}
footer {
  position: absolute;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(64, 73, 75);
  min-height:fit-content;
  width: fit-content;
  text-align: center;
}
.conteiner-about{
  margin-left: 30px;
  text-align: center;
  color: #f7851b ;
}

.columnabout{
  text-align: center;
  color: #f7851b
  
}
nav a:hover {
  color: #f7851b;
}
.containerbienvenidos{
  text-align: center;
  color: #f7851b;
}
footer{
  display: flex;
  flex-direction: column;
    align-items: center;
    background-color: #f7851b;
    color:rgb(42, 32, 126);
    padding-top: 30px;
    min-height: 200px;
  }
  .conteinerservices{
    background-color: rgb(31, 29, 29);  
    color: #f7851b;
    padding: 5%;
    margin-left: 30px;
    text-align: center;
  }
  .columnservices{
    background-color: rgb(31, 29, 29);  
    color: #f7851b;
    text-align: center;

  }
  .greeting{
    text-align: center;
    margin-top: 20px;
    background-color: rgb(42, 32, 126);
    color: #f7851b;
  }
.conteinercontact{
 text-align: center;
 color: #f7851b;
}
.columncontact{
  text-align: center;
  color: #f7851b;
  background-color: rgb(42, 32, 126);
  justify-content: center;
}
.myform{
  display: flex;
  flex-wrap: wrap;
  color: #f7851b;
}